body{
font-family:Arial;
margin:0;
background:#eef2f7;
text-align:center;
}

.header{
background:#3367d6;
color:white;
padding:30px;
}

.container{
background:white;
max-width:400px;
margin:50px auto;
padding:30px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.15);
}

.btn{
display:block;
background:#3367d6;
color:white;
padding:14px;
margin:10px 0;
text-decoration:none;
border-radius:6px;
font-size:18px;
}

.btn:hover
