body{
font-family:Arial;
margin:0;
background:#f4f6f8;
text-align:center;
}

header{
background:#2563eb;
color:white;
padding:30px;
}

.tools{
display:flex;
flex-wrap:wrap;
justify-content:center;
padding:30px;
gap:20px;
}

.card{

background:white;
padding:25px;
width:200px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
text-decoration:none;
color:black;
font-size:18px;
font-weight:600;

}

.card:hover{

background:#2563eb;
color:white;

}

@media(max-width:600px){

.tools{

flex-direction:column;
align-items:center;

}

.card{

width:90%;

}

}
